body {
    margin: 0;
    width: 100vw;
    height: 100vh;  
}

.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.gutter.gutter-horizontal {
    cursor: ew-resize;
}

#editor {
    font-size: 18px;
}

.panel {
    display: block;
    position: absolute;
    padding: 0.5em;
    background-color: #161616;
    color: #ffffff;
    border-radius: 0.5em;
}

.corner-dock {
    border-radius: 0em;
    border-top-right-radius: 0.5em;
}